#root {
  max-width: 1280px;
  margin: 0 auto;
}

.colored-box {
  background-color: rgba(243, 221, 24, 0.02);
}

.line-through-content {
  overflow: hidden;
  text-align: center;
  display: block;
}

.line-through-content::before {
  right: 0.5em;
  margin-left: -50%;
  background-color: #d1d5db;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line-through-content::after {
  left: 0.5em;
  margin-right: -50%;
  background-color: #d1d5db;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
