@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
  src: local("Nunito Sans"), url("./fonts/NunitoSans-VariableFont.ttf");
  font-weight: 400 700 900;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
